VITE_SUPABASE_URL=https://SEU-PROJETO.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZvYXh6eXhhd3dwY21lYnZ4aHpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ1Njg3MDAsImV4cCI6MjEwMDE0NDcwMH0.jVOyjw1gG2GKju-OQ8t8tyPr2NRGWkiq3lv3Bq7YZWM
